$primary-black: #414141;
$primary-white: #f2f2f2;
$light-grey: #c2c2c2;
$dark-grey: #8e8e93;
$primary-blue: #64d2ff;

.patient-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .profile-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin: 20px;
        padding: 8px 20px;
        width: 90%;
        border-radius: 8px;
        background-color: $primary-black;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 16px;
            border: 1px solid $primary-white;
        }
        h5 {
            color: $primary-white;
            font-size: 20px;
        }

        .info-section {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 80px;
    
            .info {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                margin-right: 30px;
    
                h6 {
                    color: $primary-white;
                    font-size: 16px;
                    font-weight: 600;
                    margin-right: 16px;
                }
                p {
                    color: $primary-white;
                    font-size: 20px;
                    font-weight: 300;
                    margin-top: 2px;
                }
            }
        }
    }
    
}