$primary-black: #414141;
$primary-white: #f2f2f2;
$light-grey: #C2C2C2;
$dark-grey: #8E8E93;
$primary-blue: #64D2FF;

body {
  background-color: $primary-white;
}

.app {
  text-align: center;
  display: flex;
  flex-direction: row;

  .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 82%;
    margin: 20px 20px;
  }

  .menu-bar {
    display: flex;
    flex-direction: row;
    height: 90%;

    .event-list {
      display: flex;
      flex-direction: column;
      width: 35%;
      height: 100vh;
      border-right: 1px solid $dark-grey;
      padding: 0 30px;

      .header-events {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
      }
      .event-items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 10px 20px;
      }
    }
    .patient-details {
      width: 65%;
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
